<section class="feed-content">

  <!-- <section class="feed-filters">
      <select
        name="game selection"
        ng-options="post as post.game for post in homeCtrl.feed track by post._id"
        ng-model="homeCtrl.post">
      </select>

      <select
        name="platform selection"
        ng-options="post as post.platform for post in homeCtrl.feed track by post._id"
        ng-model="homeCtrl.post">
      </select>

      <select
        name="skill level selection"
        ng-options="post as post.skillLevel for post in homeCtrl.feed track by post._id"
        ng-model="homeCtrl.post">
      </select>

      <select
        name="dedication selection"
        ng-options="post as post.dedication for post in homeCtrl.feed track by post._id"
        ng-model="homeCtrl.post">
      </select>

      <select
        name="group size selection"
        ng-options="post as post.groupSize for post in homeCtrl.feed track by post._id"
        ng-model="homeCtrl.post">
      </select>
  </section> -->


  <div class="page-links">
    <!-- enter page links here -->
  </div>

    <feed-view-controller>    </feed-view-controller>

  <a href="/#!/post#create">Create Post</a>
  <a href="/#!/post#view">View Post</a>
  <div class="reset-filters">reset filters</div>

</section>
