<section class="feed-content">
  <div class="create-group">create group</div>
  <div class="feed-table">
    <!-- feed filters -->
    <select
      name="post selection"
      ng-options="post as post.name for post in homeCtrl.feed track by post._id"
      ng-model="homeCtrl.post">
    </select>

    <select
      name="platform selection"
      ng-options="post as post.platform for post in homeCtrl.feed track by post._id"
      ng-model="homeCtrl.post">
    </select>

    <select
      name="skill level selection"
      ng-options="post as post.skillLevel for post in homeCtrl.feed track by post._id"
      ng-model="homeCtrl.post">
    </select>

    <select
      name="dedication selection"
      ng-options="post as post.dedication for post in homeCtrl.feed track by post._id"
      ng-model="homeCtrl.post">
    </select>

    <select
      name="group size selection"
      ng-options="post as post.groupSize for post in homeCtrl.feed track by post._id"
      ng-model="homeCtrl.post">
    </select>
  </div>

  <feed-view
    feed="homeCtrl.feed">
  </feed-view>



  <input
    type="text"
    name="search"
    ng-model="homeCtrl.searchValue">

  <div class="page-links">
    <!-- enter page links here -->
  </div>

  <ul>
    <!-- <feed-item
      ng-repeat="post in homeCtrl.feed | fuzzySearch : homeCtrl.searchValue"
      post="post">
    </feed-item> -->
  </ul>

  <a href="/#!/post">Create Post</a>
  <div class="reset-filters">reset filters</div>

</section>
