<section>
  <div ng-if="!viewPostCtrl.showEditPost">
    <h2 class="page-tit">{{ viewPostCtrl.post.title }}</h2>
    <a href="/#!/home" class="return-btn">&larr; return to feed</a>
    <ul class="gamer-tags">
      <li class="vp-li">Host: {{ viewPostCtrl.post.host }}</li>
      <li class="vp-li">Players: {{ viewPostCtrl.post.groupSize }}</li>
      <li class="vp-li">Game: {{ viewPostCtrl.post.game }}</li>
      <li class="vp-li">Platform: {{ viewPostCtrl.post.platform }}</li>
      <li class="vp-li">Details: {{ viewPostCtrl.post.description }}</li>
      <li class="vp-li">From {{ viewPostCtrl.post.startTime | date : medium }} until {{ viewPostCtrl.post.endTime | date : medium }}</li>
    </ul>
  </div>
</section>
