<section class="signup">
  <h2 class="page-tit">Sign Up</h2>

  <form class="signup-form"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>

    <input class="input-std"
      type="text"
      placeholder="username"
      ng-minlength="4"
      ng-model="signupCtrl.user.username"
      required>

    <input class="input-std"
      type="text"
      placeholder="email"
      ng-model="signupCtrl.user.email"
      required>

    <input class="input-std"
      type="password"
      placeholder="password"
      ng-minlength="4"
      ng-model="signupCtrl.user.password"
      required>

      <!-- <input class="signup-btn" type="submit" value="signup"> -->
  </form>

  <button class="login-btn" type="btn-std" ng-submit="navbarCtrl.hideButtons = true">sign in</button>
</section>
