<section class="login-form">
  <div class="page-tit">
    Log In
  </div>
  <div class="login-div">

    <form
      name="loginForm"
      ng-submit="loginCtrl.login()"
      novalidate>

      <div ng-class="{
        'error': loginForm.username.$invalid,
        'success': loginForm.username.$valid,
        }">

        <input
          type="text"
          name="username"
          placeholder="username"
          ng-model="loginCtrl.user.username"
          required>
      </div>

      <div ng-class="{
          'error': loginForm.password.$invalid && loginForm.$submitted,
          'success': loginForm.password.$valid,
        }">

        <input
          type="password"
          name="password"
          ng-model="loginCtrl.user.password"
          required>
      </div>

    </form>
  </div>
  <button class="login-btn" type="btn-std" ng-submit="navbarCtrl.hideButtons = false">sign in</button>
</section>
