<section>
  <create-post-controller></create-post-controller>
  <div class="postview-container"
    ng-if="postCtrl.showPostEdit">
    <div class="postview-inner">
    </div>
  </div>

  <div class="postview-container"
    ng-if="postCtrl.showCreatePost">
    <div class="postview-inner">
      <view-post-controller></view-post-controller>
    </div>

  <div class="postview-container"
    ng-if="postCtrl.showPostEdit">
    <div class="postview-inner">
      <edit-post-controller></edit-post-controller>
    </div>
  </div>
</section>
