<section>
  <div class="postview-container"
    ng-if="postCtrl.createPost">
    <create-post-controller></create-post-controller>
    <div class="postview-inner">
    </div>
  </div>

  <div class="postview-container"
    ng-if="postCtrl.viewPost">
    <div class="postview-inner">
      <view-post-controller></view-post-controller>
    </div>

  <div class="postview-container"
    ng-if="postCtrl.editPost">
    <div class="postview-inner">
      <edit-post-controller></edit-post-controller>
    </div>
  </div>
</section>
