<section>
  <div>
    <h3 class="page-tit">Account Names</h3>
    <p class="vp-names">X-box Live: <span class="game-names">{{userViewCtrl.user.xbl}}</span></p>
    <p class="vp-names">PlayStation: <span class="game-names">{{userViewCtrl.user.psn}}</span></p>
    <p class="vp-names">Steam: <span class="game-names">{{userViewCtrl.user.steam}}</span></p>
    <p class="vp-names">Battle.Net: <span class="game-names">{{userViewCtrl.user.bn}}</span></p>
    <p class="vp-names">League of Legends: <span class="game-names">{{userViewCtrl.user.lol}}</span></p>
  </div>
</section>
