//::::VARS:::://

$brand-primary: #910a05;
$brand-secondary: #444;
$brand-accent: #dc830c;
$black: #000;
$white: #fff;
$card-pad: .5% 1%;
$card-margin: 20%;
$title-font: 'Nova Square', cursive;
$small-font: 'Squada One', cursive;

//::::MIXINS:::://
@mixin txtSmall {
  font-family: $small-font;
  color: #fff;
  font-size: 1vw;
}

@mixin txtBig {
  font-family: $title-font;
  color: $brand-accent;
  font-size: 3vw;
}
//::::STYLES:::://
.postcard {
  color: $white;
  padding: $card-pad;
  margin-left: $card-margin;
  margin-right: $card-margin;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  background: linear-gradient(115deg, $black, $black, $black 50%, transparent, transparent, transparent, transparent), url("../../../imgs/test-img.jpg") no-repeat center;
}

.postcard-container{
  background-color: rgba(012,012,012, 0.7);
  height: 110vh;
  width: 75vw;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  margin-top: 5vh;
}

.search-game{
  margin-top: 3vh;
  margin-left: 20%;
  font-size: .85em;
}

#create-post{
  margin-top: 3vh;
  margin-left: 17.5%;
}

li {
  margin: .25vw 0;
  @include txtSmall;
}

.card-title {
  @include txtBig;
  width: 50%;
  color: $brand-primary;
}

.game, .platform, .card-input {
  color: $brand-accent;
}
