//::::VARS:::://

$brand-primary: #910a05;
$brand-secondary: #444;
$brand-accent: #dc830c;
$black: #000;
$white: #fff;
$small-font: 'Squada One', cursive;

//::::MIXINS:::://
@mixin txtBtn {
  font-family: $small-font;
  color: #fff;
  font-size: 2vw;
}

//::::STYLES:::://
.navbar{
  background: $brand-secondary;
  top: 0;
  width: 100%;
  position: fixed;
  margin-top: 0%;
}

.title-block{
  margin-right: 0;
  display: inline-block;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background: $brand-primary;
  color: $brand-accent;
}

.navbar-btn {
  @include txtBtn;
  // width: 33.33%;
  width: 25.85%;
  margin: 0;
  padding: 1vw 0;
  text-align: center;
  display: inline-block;
  background: $brand-primary;
  &:hover{
    background: $brand-accent;
  }
  &:active{
    background: $brand-accent;
    transform: scale(.9);
  }
  z-index: 1;
}
