<section>
  <h1></h1>
  <form
  ng-submit="editUserCtrl.updateUser()"
    >
    <label for="username">Username:</label>
    <input
      name="username"
      type="text"
      ng-minlength="4"
      ng-model="editUserCtrl.user.username">

    <label for="email">Email:</label>
    <input
      name="email"
      type="text"
      ng-model="editUserCtrl.user.email">

    <label for="xbl">Xbox Live:</label>
    <input
      name="xbl"
      type="text"
      ng-model="editUserCtrl.user.xbl">

    <label for="psn">PlayStation Network:</label>
    <input
      name="psn"
      type="text"
      ng-model="editUserCtrl.user.psn">

    <label for="steam">Steam:</label>
    <input
      name="steam"
      type="text"
      ng-model="editUserCtrl.user.steam">

    <label for="bn">BattleNet:</label>
    <input
      name="bn"
      type="text"
      ng-model="editUserCtrl.user.bn">

    <label for="lol">League of Legends:</label>
    <input
      name="lol"
      type="text"
      ng-model="editUserCtrl.user.lol">

      <button
      type="submit"

      >Update Info
    </button>
  </form>
</section>
